body {
    background: #ffffff;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

body, form, div, p, a, img, h1, h2, h3, h4, h5, h6, table, table tr, table td {
    border: none;
    color: #000000;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

input,
textarea,
select {
    outline: none;
    font-family: Arial;
    font-size: 12px;
    box-sizing: border-box;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

a {
    text-decoration: underline;
    outline: none;
}

a:hover {
    text-decoration: none;
}

h1, h2 {
    font-size: 20px;
    padding: 0 0 10px 0;
    color: #545454;
}

.mainer {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;  /* - чтобы побокам при сужении сужался и текст */
    box-sizing: border-box; /* - чтобы сайт остался 1140пх, а не 1170пх после паддинга */
}

.block-features {
    background-color: #1d1c1c;  
}

.block-features .wrapper { /* - родительский элемент и ребёнок. теперь можно еще в дргуих местах использовать wrapper */
    display: flex;  
    margin: 0 -15px;  /* - чтобы блок шел четко по границам,без этого значения он вылазит за края */
    background-color: #341919;
}

.block-features .cell {
    flex-grow: 1;  /*- чтобы ячейки занимали все пространство */
    padding: 108px 15px;  /* высота между картинкой и началом макета, и так же внизу, ставим одно значение потмоу что и сверху и снизу одинаковое расстояние */
}

.block-features .icon {
    width: 70px;
    height: 70px;
    background-color: #ff9c00;
    margin: 0 auto; /* - работает только если див является блочным */
    margin: 0 auto 42px auto;
    border-radius: 18px 0;
    text-align: center;
    line-height: 80px;  /* - выровняется по центру, потмоу что наш блок 70пх */
    color: white;
    
}


.block-features .caption {
    color: white;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;  /* - все буквы заглавные */
    margin: 0 0 27px 0;  /* - 23 пикселя мы отмерили на скриншоте нашего сайта, а в фотошопе показало 50пх. то есть чтобы выяснить размер, то 50-23 и получаем нужный отступ */
}


.block-features .description {
    color: white;
    text-align: center;
    line-height: 24px; /* - всегда зависит от размера шрифта */
    /* - здесь не указываем 14 размер, потому что мы указали это выше в 12 рядке */
}